.container{
	display: flex; /* transforma o elemento em flex container */
	flex-direction: row; /* column ou row - define a direção das colunas(filhos) */
	flex-wrap: wrap; /* permite a quebra de linhas */
}

.item1{
	width: 100%;
	height: 45vh;	
}
.peça{
	width: 95%;
	height: 98%;
	margin-left: 2rem;
}

form{
	text-align:left; 
	font-family:calibri;

}
#tudo{
border-style:solid;
border-width:4px;
color:#DB899A;	
}
body{
background-color:white;
}
.linha1{
border-style:solid;
border-width:4px;
color:#DB899A;
border-color: #DB899A;	
}
.bordin{
 border-style: solid;
 border-top: none;
}
input{
	width: 140px;
	border: 0px;
	margin: 1px;
	height: 12px;
	outline: none;
	background:none;
	border-color: #DB899A;
}
.box{
	width: 50px;
	margin: 3px;
	height: 15px;
}
#enviar{
	background-color: rgb(144,238,144);
}
#Limpar{
	background-color: rgb(220,20,60);
}
footer{
	padding: 20px;
	color: #DB899A;
	text-align: center;
}

